.grade-wrapper {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 90%;
 justify-content: center;
}
.grade-item-wrapper {
 margin: 5px;
 padding: 5px;
 text-align: center;
 border: 1px solid lightgrey;
 border-radius: 8px;
 height: 50%;
 width: 10%;
 list-style: none;
}
label {
 width: 15%;
}
